<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
    </div>
    <input type="text" id="addVisitorName" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Surname</span>
    </div>
    <input type="text" id="addVisitorSurname" class="form-control" aria-label="Surname" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
    </div>
    <input type="text" id="addVisitorEmail" class="form-control" aria-label="Email" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Phone</span>
    </div>
    <input type="text" id="addVisitorPhone" class="form-control" aria-label="Phone" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Birth Date</span>
    </div>
    <input type="date" id="addVisitorBirthDate" class="form-control" aria-label="Birth Date" aria-describedby="inputGroup-sizing-sm">
</div>