<div id="actionsDiv">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addVisitorModal" onclick="visitors.loadCreate()">Add</button>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col"><h6>Name</h6></th>
                <th scope="col"><h6>Surname</h6></th>
                <th scope="col"><h6>Email</h6></th>
                <th scope="col"><h6>Phone</h6></th>
                <th scope="col"><h6>Birth Date</h6></th>
            </tr>
        </thead>
        <tbody id="visitorsTableBody">
        </tbody>
    </table>
</div>