@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/InventoryManagement/books.js"></script>
<script src="~/js/VisitorManagement/visitors.js"></script>
<link rel="stylesheet" href="~/css/InventoryManagement/books.css" />
<link rel="stylesheet" href="~/css/VisitorManagement/visitors.css" />

<div id="booksTable">

</div>

<script>
    $(document).ready(function () {
        books.load();
    })
</script>