<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
    </div>
    <input type="text" id="addBookTitle" class="form-control" aria-label="Title" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Author</span>
    </div>
    <input type="text" id="addBookAuthor" class="form-control" aria-label="Author" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
    </div>
    <textarea id="addBookDescription" class="form-control" aria-label="Description" aria-describedby="inputGroup-sizing-sm"></textarea>
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">ISBN</span>
    </div>
    <input type="text" id="addBookISBN" class="form-control" aria-label="ISBN" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Publisher</span>
    </div>
    <input type="text" id="addBookPublisher" class="form-control" aria-label="Publisher" aria-describedby="inputGroup-sizing-sm">
</div>