<form id="addBookForm">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Cover Image</span>
        </div>
        <input name="CoverImage" type="file" id="addBookCoverImage" aria-label="Cover Image" aria-describedby="inputGroup-sizing-sm" accept="image/png, image/jpeg">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
        </div>
        <input name="Title" type="text" id="addBookTitle" class="form-control" aria-label="Title" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Author</span>
        </div>
        <input name="Author" type="text" id="addBookAuthor" class="form-control" aria-label="Author" aria-describedby="inputGroup-sizing-sm">
    </div>
</form>